@use "../helpers" as *;

.benefits-tab {
  background-color: var(--color-gray-bg);
  padding: fluid(40, 80) 0;

  &__header {
    margin-bottom: fluid(40, 60);
    text-align: center;
  }

  &__body {
    display: flex;
    column-gap: fluid(0, 193);
    @include small {
      flex-direction: column;
      row-gap: rem(50);
    }
  }

  &__menu {
    flex: 0 0 rem(410);
    @include medium {
      flex: 0 0 rem(310);
    }
    @include small {
      flex: 0 1 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: fluid(20, 36);
  }

  &__item {
    font-weight: 500;
    font-size: fluid(22, 32);
    line-height: 1.5;
    transition: all 0.3s ease;
    @include hover {
      color: var(--color-accent);
    }

    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease;
    }

    &::after {
      bottom: rem(-6);
      left: 0;
      width: 100%;
      height: rem(3);
      background-color: transparent;
      position: absolute;
    }

    &.is-active {
      display: flex;
      align-items: center;
      column-gap: rem(16);
      position: relative;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2244%22%20height%3D%2254%22%20viewBox%3D%220%200%2044%2054%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.1066%2049.9781C11.4569%2043.5723%2011.9938%2040.1548%2013.4664%2034.3215L22.2827%2036.0817L30.4854%2033.7563C31.3577%2037.1408%2031.7818%2039.3678%2032.5131%2043.4586C33.2967%2048.272%2033.6341%2051.3745%2032.5131%2052.7245C31.3068%2053.7905%2030.3634%2053.6674%2029.1763%2052.5191C28.4758%2049.4804%2026.4462%2048.5493%2021.9895%2047.822C17.322%2048.49%2015.2006%2051.7838%2014.8797%2052.5705C14.5588%2053.3571%2012.3161%2053.2285%2011.7483%2052.8271C11.1804%2052.4258%2011.1939%2051.6102%2011.1066%2049.9781Z%22%20fill%3D%22%23161616%22%2F%3E%3Cellipse%20cx%3D%225.55696%22%20cy%3D%227.74145%22%20rx%3D%225.5572%22%20ry%3D%225.54613%22%20fill%3D%22%23161616%22%2F%3E%3Cellipse%20cx%3D%2238.1049%22%20cy%3D%227.74145%22%20rx%3D%225.5572%22%20ry%3D%225.54613%22%20fill%3D%22%23161616%22%2F%3E%3Ccircle%20cx%3D%2222.209%22%20cy%3D%2218.4028%22%20r%3D%2218.4028%22%20fill%3D%22%23161616%22%2F%3E%3Ccircle%20cx%3D%2222.2088%22%20cy%3D%2218.4026%22%20r%3D%2215.9139%22%20fill%3D%22%23FF0000%22%2F%3E%3Cellipse%20cx%3D%2215.3357%22%20cy%3D%2215.6304%22%20rx%3D%222.75305%22%20ry%3D%226.55568%22%20fill%3D%22white%22%2F%3E%3Cellipse%20cx%3D%2215.3357%22%20cy%3D%2215.6304%22%20rx%3D%222.75305%22%20ry%3D%226.55568%22%20fill%3D%22white%22%2F%3E%3Cellipse%20cx%3D%2229.082%22%20cy%3D%2215.6304%22%20rx%3D%222.75305%22%20ry%3D%226.55568%22%20fill%3D%22white%22%2F%3E%3Cellipse%20cx%3D%2229.082%22%20cy%3D%2215.6304%22%20rx%3D%222.75305%22%20ry%3D%226.55568%22%20fill%3D%22white%22%2F%3E%3Ccircle%20cx%3D%2210.4569%22%20cy%3D%2237.7255%22%20r%3D%224.75821%22%20fill%3D%22%23232323%22%2F%3E%3Ccircle%20cx%3D%2210.457%22%20cy%3D%2237.7255%22%20r%3D%223.778%22%20fill%3D%22%23FF0000%22%2F%3E%3Cpath%20d%3D%22M11.6789%2030.195C11.2759%2031.6023%2010.7084%2032.1608%209.54138%2033.0525L12.2865%2033.9075L14.829%2035.7976C15.261%2034.898%2015.4079%2034.3418%2015.1215%2033.0525C14.133%2030.8634%2013.4216%2030.1075%2011.6789%2030.195Z%22%20fill%3D%22%23232323%22%2F%3E%3Cpath%20d%3D%22M12.1882%2030.9636C11.8181%2032.299%2010.2608%2034.0373%2010.3209%2034.1143C10.381%2034.1912%2013.3948%2035.7752%2013.3948%2035.7752C14.0815%2035.1916%2014.0498%2034.7192%2013.8608%2033.4758C13.3731%2031.795%2013.0812%2031.1376%2012.1882%2030.9636Z%22%20fill%3D%22%23FF0000%22%2F%3E%3Cpath%20d%3D%22M10.0385%2034.3679C11.2903%2032.9268%2012.3835%2031.3125%2012.1583%2030.874C11.4728%2032.1048%2010.8363%2032.8571%209.5883%2034.0405C7.8335%2034.6699%206.88607%2035.5337%206.64117%2037.6835C6.39628%2039.8333%209.05617%2041.2651%209.05617%2041.2651C6.98214%2038.0867%206.84939%2036.5077%2010.0385%2034.3679Z%22%20fill%3D%22%23CB0000%22%2F%3E%3Ccircle%20cx%3D%2232.9174%22%20cy%3D%2236.8056%22%20r%3D%224.74532%22%20fill%3D%22%23232323%22%2F%3E%3Ccircle%20cx%3D%2232.9158%22%20cy%3D%2236.6995%22%20r%3D%223.6087%22%20fill%3D%22%23FF0000%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M22.1735%2037.7224C23.4671%2037.7224%2024.517%2038.7723%2024.517%2040.0659C24.517%2041.3595%2023.4671%2042.4094%2022.1735%2042.4094C20.8799%2042.4094%2019.83%2041.3595%2019.83%2040.0659C19.83%2038.7723%2020.8799%2037.7224%2022.1735%2037.7224Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M19.0864%2039.8299C19.2305%2038.5204%2020.0023%2037.4252%2021.5487%2037.0462L21.5538%2036.5844C21.5569%2036.5301%2021.5856%2036.5205%2021.6314%2036.5406L22.7974%2037.4162L21.6395%2038.2877C21.5902%2038.318%2021.5588%2038.3057%2021.5366%2038.2715V37.8923C20.7306%2038.1529%2020.1259%2038.7131%2019.8959%2039.8303L19.5091%2039.3024L19.0864%2039.8299Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M22.4135%2036.9836C23.7231%2037.1276%2024.8183%2037.8994%2025.1973%2039.4459L25.659%2039.451C25.7133%2039.4541%2025.723%2039.4829%2025.7029%2039.5286L24.8273%2040.6946L23.9557%2039.5367C23.9254%2039.4874%2023.9378%2039.4561%2023.972%2039.4337H24.3512C24.0906%2038.6279%2023.5304%2038.0231%2022.4131%2037.793L22.941%2037.4063L22.4135%2036.9836Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M25.2606%2040.3023C25.1167%2041.6118%2024.3448%2042.707%2022.7984%2043.086L22.7933%2043.5477C22.7901%2043.6022%2022.7615%2043.6117%2022.7157%2043.5916L21.5497%2042.716L22.7076%2041.8445C22.7568%2041.8143%2022.7882%2041.8265%2022.8105%2041.8606V42.2399C23.6164%2041.9793%2024.2212%2041.4191%2024.4512%2040.3019L24.838%2040.8298L25.2606%2040.3023Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21.9333%2043.1484C20.6237%2043.0044%2019.5285%2042.2326%2019.1496%2040.6861L18.6878%2040.681C18.6335%2040.678%2018.6239%2040.6491%2018.6439%2040.6034L19.5196%2039.4374L20.391%2040.5954C20.4213%2040.6447%2020.409%2040.676%2020.3749%2040.6983H19.9956C20.2562%2041.5042%2020.8164%2042.1089%2021.9337%2042.3391L21.4057%2042.7257L21.9333%2043.1484Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M22.4331%2039.8138H23.6494L21.3036%2041.7329L22.4331%2039.8138Z%22%20fill%3D%22%23232323%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21.9491%2040.2048H20.7328L23.0786%2038.2857L21.9491%2040.2048Z%22%20fill%3D%22%23232323%22%2F%3E%3C%2Fsvg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: rem(44);
        height: rem(53);
        flex-shrink: 0;
        @include x-small {
          width: rem(45);
          height: rem(45);
        }
      }

      &::after {
        background-color: var(--color-accent);
      }
    }
  }

  &__contents {
    flex: 0 1 auto;
  }

  &__content {
    display: none;

    &.is-active {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: fluid(20, 40);
      animation: fadeUp 0.5s ease-out forwards;
    }
  }
}
