@use "../helpers" as *;

.simple-content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: fluid(40, 80) 0 fluid(40, 80) 0;
  &_slide-left {
    .simple-content__container {
      position: relative;
      max-width: rem(992);
      left: rem(-110);
      @include large {
        left: auto;
      }
    }
  }
  &__container {
    max-width: rem(760);
  }
  &__body {
    color: var(--color-light);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: fluid(20, 40);
    h2 {
      color: inherit;
      font-size: fluid(35, 55);
    }
    p {
      font-size: fluid(20, 32);
      font-weight: 500;
    }
  }
}
