@use "helpers" as *;

:root {
  --color-light: #fff;
  --color-dark: #343434;
  --color-gray: #6c6c6c;
  --color-gray-light: #c1c1c1;
  --color-gray-dark: #232323;
  --color-gray-bg: #f0f0f0;
  --color-accent: #ec1721;
  --color-accent-light: #f1e7e8;

  --font-family-base: "Outfit", serif;

  --container-width: #{rem(1220)};
  --container-padding-x: #{rem(20)};
}
